.container{
    min-width: 100%;
    min-height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }
.pointer{
  cursor: pointer;
  padding: 0 10px 0 0;
  text-decoration: underline;
}
.td_acciones{
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: flex-end !important;
  
}
.filter_add{
  width: 100%;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}
.filter_add button{
  
  text-align: right;
  height: 50px;
}